#copyButton, #helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: #eec5c2;
}

#copyButton:hover {
    -fx-background-color: #ddb9b6;
}

#copyButton:armed {
    -fx-background-color: #eebbb7;
}

#helpMessageContainer {
    -fx-background-color: derive(#ececec, 20%);
}
